@{
    ViewBag.Title = "Parametrização";
}

@{
    ViewBag.Title = "Parametrização";
    var breadCrumbs = new List<KeyValuePair<string, string>>();    
    breadCrumbs.Add(new KeyValuePair<string, string>("#", ViewBag.Title));
    ViewBag.Breadcrumbs = breadCrumbs;
}

<style>
    .bs-glyphicons-list {
        padding-left: 0;
        list-style: none;
    }

    .bs-glyphicons li {
        float: left;
        width: 25%;
        height: 115px;
        padding: 10px;
        font-size: 1.1vw;
        line-height: 1.4;
        text-align: center;
        background-color: #f9f9f9;
        border: 1px solid #fff;
    }

        .bs-glyphicons li:hover {
            color: #fff;
            background-color: #095186;
            -webkit-transition-property: background color;
            -webkit-transition-duration: 0.3s;
            -webkit-transition-timing-function: ease;
            -moz-transition-property: background color;
            -moz-transition-duration: 0.3s;
            -moz-transition-timing-function: ease;
            -o-transition-property: background color;
            -o-transition-duration: 0.3s;
            -o-transition-timing-function: ease;
            -ms-transition-property: background color;
            -ms-transition-duration: 0.3s;
            -ms-transition-timing-function: ease;
            transition-property: background color;
            transition-duration: 0.3s;
            transition-timing-function: ease;
        }

    .bs-glyphicons {
        margin: 0 -10px 20px;
        overflow: hidden;
    }

        .bs-glyphicons .glyphicon-class {
            display: block;
            text-align: center;
            word-wrap: break-word;
        }

        .bs-glyphicons .glyphicon {
            margin-top: 5px;
            margin-bottom: 10px;
            font-size: 24px;
        }
</style>

<div class="bs-glyphicons">
    <ul class="bs-glyphicons-list">
        <li onclick="location.href='@Url.Action("Consultar", "ParametroCalculo")';">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="glyphicon-class">Cálculos</span>
        </li>
        <li onclick="location.href='@Url.Action("Consultar", "MotivoDeseixamento")';">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="glyphicon-class">Motivos - Deseixamentos</span>
        </li>
        <li onclick="location.href='@Url.Action("Consultar", "SituacaoRoda")';">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="glyphicon-class">Situação Roda</span>
        </li> 
        <li onclick="location.href='@Url.Action("Consultar", "AlmoxarifadoOrigem")';">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="glyphicon-class">Almoxarifado Origem</span>
        </li>
        <li onclick="location.href='@Url.Action("Consultar", "Roda")';">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="glyphicon-class">Tipo de Roda</span>
        </li>
        <li onclick="location.href='@Url.Action("Consultar", "CondicaoEixo")';">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="glyphicon-class">Condição Eixo</span>
        </li>
        <li onclick="location.href='@Url.Action("Consultar", "Fabricante")';">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="glyphicon-class">Fabricantes</span>
        </li>
        <li onclick="location.href='@Url.Action("Consultar", "MotivoRecusa")';">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="glyphicon-class">Motivo Recusa Eixo</span>
        </li>
        <li onclick="location.href='@Url.Action("Consultar", "Observacao")';">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="glyphicon-class">Observações</span>
        </li>
        <li onclick="location.href='@Url.Action("Consultar", "MotivoEngrenagem")';">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="glyphicon-class">Motivo Engrenagem</span>
        </li>
        <li onclick="location.href='@Url.Action("Consultar", "SituacaoEngrenagem")';">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="glyphicon-class">Situação Engrenagem</span>
        </li>  
        <li onclick="location.href='@Url.Action("Consultar", "MangaModeloCodigo")';">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="glyphicon-class">Manga - Modelo - Código</span>
        </li>  
        <li onclick="location.href='@Url.Action("Consultar", "TipoEixo")';">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="glyphicon-class">Tipo de Eixo</span>
        </li>    
        <li onclick="location.href='@Url.Action("Consultar", "Situacao")';">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="glyphicon-class">Situação Eixo</span>
        </li> 
        <li onclick="location.href='@Url.Action("Consultar", "ClasseRoda")';">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="glyphicon-class">Classe de Roda</span>
        </li>   
        <li onclick="location.href='@Url.Action("Consultar", "Processo")';">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="glyphicon-class">Processo</span>
        </li>   
        <li onclick="location.href='@Url.Action("Consultar", "ParametroRodas")';">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="glyphicon-class">Parametros Rodas</span>
        </li>    
    </ul>
</div>
