<!DOCTYPE html>
<html lang="pt-br" class="no-js">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="MobileOptimized" content="320">

    <link type="text/css" rel="stylesheet" href="~/Content/core/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/core/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/core/css/style-conquer.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/core/css/style.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/core/css/style-responsive.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/core/css/light.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/core/css/mission-gothic.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/core/css/core.css" />

    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="~/Content/kendo/2014.2.716/kendo.common.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/kendo/2014.2.716/kendo.dataviz.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/kendo/2014.2.716/kendo.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/kendo/2014.2.716/kendo.dataviz.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />

    <script src="~/Content/core/js/respond.min.js"></script>
    <script src="~/Content/core/js/excanvas.min.js"></script>

    <script src="~/Scripts/kendo/2014.2.716/jquery.min.js"></script>
    <script src="~/Scripts/kendo/2014.2.716/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/2014.2.716/kendo.aspnetmvc.min.js"></script>
    <script src="~/Scripts/kendo.modernizr.custom.js"></script>
    <script src="~/Scripts/kendo/2014.2.716/cultures/kendo.culture.pt-BR.min.js"></script>

    <script src="~/Content/core/js/bootstrap.min.js"></script>
    <script src="~/Content/core/js/jquery.slimscroll.min.js"></script>
    <script src="~/Content/core/js/jquery.cokie.min.js"></script>
    <script src="~/Content/core/js/app.js"></script>

    <script src="@Url.Content("~/Scripts/portal.js")"></script>
    <script>kendo.culture("pt-BR");</script>    

    @try
    {
        @Html.Partial("_Head")
    }
    catch { }
</head>
<body class="page-header-fixed">    
    <div class="header navbar navbar-inverse navbar-fixed-top">
        <div class="header-inner">
            <a class="navbar-brand" href="/">
                <img src="~/Content/core/img/paraguacu.png" alt="logo" />
                <span class="app-title">
                    @try
                    {
                        @Html.Partial("_Title")
                    }
                    catch
                    {
                        @:Sistema de Orçamentos Paraguaçu
                    }
                </span>
            </a>
            <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <img src="~/Content/core/img/menu-toggler.png" alt="" />
            </a>
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" style="padding-top: 12px">
                        <span class="glyphicon glyphicon-user" style="margin-right: 5px"></span>
                        <span class="username">@User.Identity.Name</span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/Autenticacao/LogOut"><i class="fa fa-key"></i> Sair</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="page-container">
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar-wrapper">
                <div class="page-sidebar navbar-collapse collapse">
                    <ul class="page-sidebar-menu">
                        <li class="sidebar-toggler-wrapper">
                            <div class="sidebar-toggler"></div>
                            <div class="clearfix"></div>
                        </li>
                        @try
                        {                            
                            @Html.Partial("_Menu")                            
                        }
                        catch(Exception ex)
                        {
                            <li class="start">                                
                                @Conquer.MenuTitle("Sistema de Orçamentos Paraguaçu", "fa-home", Url.Action("Index", "Home"))
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-content-wrapper">
            <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-title">@ViewBag.Title &nbsp; <span style="font-size:16px;">@ViewBag.TitleComplement</span></div>
                            @try
                            {
                                @Html.Partial("_Breadcrumb")
                            }
                            catch
                            {
                                <ul class="page-breadcrumb breadcrumb">
                                    <li>
                                        <i class="fa fa-home"></i>
                                        <a href="/">Inicial</a>
                                        <i class="fa fa-angle-right"></i>
                                    </li>
                                    <li>
                                        <a href="#">@ViewBag.Title</a>
                                    </li>
                                </ul>
                            }
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-inner footer-copyright">MRS Logística S.A.</div>
        <span class="label label-info label-version">
            @try
            {
                @Html.Partial("_Version")
            }
            catch
            {
                @:1.0.0
            }
        </span>
        <div class="footer-tools">
            <span class="go-top">
                <i class="fa fa-angle-up"></i>
            </span>
        </div>
    </div>
    <script>

        $(function () {
            App.init();
            var action = $(".page-sidebar-menu a[href='" + window.location.pathname + "']");
            $(action).closest("li").addClass("active");
            $(action).closest(".sub-menu").css("display", "block");
            $(action).closest(".page-sidebar-menu > li").addClass("open active");
        });

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>